
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #38610B;
}

.quem-somos {
    background-color:#819FF7;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #A9D0F5;
    color: white;
}

.bg-footer{
    background-color: #1C1C1C;
    color: white;
}